<?xml version='1.0' encoding='utf-8'?>
  <Server port="8005" shutdown="SHUTDOWN">
    
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
    <Listener className="org.apache.catalina.core.JasperListener" />
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

    <Service name="Catalina">
    
      <Connector port="443" protocol="HTTP/1.1" SSLEnabled="true"
       maxThreads="150" scheme="https" secure="true"
       clientAuth="false" sslProtocol="TLS" 
        keystoreFile="D:\Projects\website\Tomcat\mkyongkeystore"
     keystorePass="password" />

     <Connector port="8009" protocol="AJP/1.3" redirectPort="443" URIEncoding="utf-8"/>
     <Engine name="Catalina" defaultHost="localhost">
      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
         resourceName="UserDatabase"/>

       </Realm>
        
        <Host name="localhost"  appBase="webapps"
          unpackWARs="true" autoDeploy="true">
        
              <Context path="" docBase="D:\Projects\website\Website\" reloadable="true" >
                
                <Resource
                 name="jdbc/mydb"
                 auth="Container"
                 type="javax.sql.DataSource"
                 driverClassName="org.apache.derby.jdbc.EmbeddedDriver"
                 url="jdbc:derby:D:\Projects\website\Databases\mydb"
                 maxActive="20"
                 maxIdle="10" maxWait="-1"
                 />

              </Context>

               <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
                 prefix="localhost_access_log." suffix=".txt"
                 pattern="%h %l %u %t &quot;%r&quot; %s %b" />

         </Host>

       </Engine>
    </Service>
  </Server>
